<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Detalhes da Pergunta</title>
</head>
<body class="bg-dark">
    <%- include('partials/header.ejs'); %>
    <div class="container my-5">
        <div class="card shadow">
            <div class="card-header bg-primary text-white">
                <h1 class="card-title"><%= pergunta.titulo %></h1>
            </div>
            <div class="card-body">
                <p class="card-text lead"><%= pergunta.descricao %></p>
            </div>
        </div>
    </div>  
    <div class="container my-5">
        <form>
            
            <textarea placeholder="Digite sua resposta" class="form-control mb-3" name="corpo"></textarea>
            <button type="submit" class="btn btn-primary mt-2">Responder</button>
        </form> 
    </div>  
</body>
<%- include('partials/footer.ejs'); %>

</html>